body {
    font-family:sans-serif;
    max-width: 1280px;
    font-size: 20px;
    background-color: lightcyan;
  }

  .kaka{
      border: aqua 4px solid;
      width: 85%;
      height: 100%;
      position: absolute;
      left: 10%;
      overflow-y: scroll 
  }

.footer{
    background-color: gray;
    position: absolute;
    top: 102%;
    height:15%;
    color: white;
    width: 100%;
    font-size:large;
}

.ins, .web, .fba{
position: absolute;
left: 10%;
}
.ins{
    top: 0%;
}
.web{
    top: 25%;
}
.fba{
    top: 50%;
}

.song{
  width: 90%;
}
.event{
  color: black
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 10%;
  top: 1%;
  background-color: white;
}

.container {
  padding: 2px 16px;
}

.img{
  max-width: 20%;
  position: absolute;
  left: 10%;
  bottom: 15%;
}

.img1{
  bottom: 15%;
  max-width: 20%;
  position: absolute;
  left: 45%;
}
.pagr{
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.em{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 60%;
  top: 1%;
  background-color: white;
}

.wg{
  color: white;
}

.er{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 10%;
  top: 60%;
  background-color: white;
}

.link{
  position: absolute;
  left: 30%;
}

.atv{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 60%;
  top: 60%;
  background-color: white;
}

.dev{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 10%;
  top: 120%;
  background-color: white;

}

.IT{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 60%;
  top: 120%;
  background-color: white;
}

.dvil{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 10%;
  top: 180%;
  background-color: white;
}

.blu{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 60%;
  background-color: white;
  top: 180%;
}

.dss{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  position: absolute;
  left: 10%;
  background-color: white;
  top: 240%;
}

.img2{
  position: absolute;
  top: 0;
  left: 45%;
  max-width: 20%;
}

.pagri{
  position: absolute;
  bottom: 2%;
  right: 5%;
}
